body {
  font-family: "メイリオ", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

/*ヘッダー*/
header {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  background-color: white;
}


header nav {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  
  display: flex;
  justify-content: space-between;
  
}

header nav .header-text {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
}

header nav img {
  width: 129px;
  height: 46px;
  vertical-align: bottom;
}

header input {
  margin-right: 10px;
}

.contact-button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #DA6B64;
  color: white;
  border: 0px;
  cursor:pointer;
}

.contact-button:hover {
  background-color: #D84940;
}


/*headline*/
.headline {
  height: 500px;
  width: 100vw;
  margin-top: 75px;
  margin-left: 0px;
  background-image: url("素材/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.logo-context {
  margin-top: 90px;
  
} 

.headline .logo-context p {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.headline .logo-context .title p {
  font-size: 20px;
  line-height: 5px;
  margin: 16px 0;
}

section .logo-large {
  text-align: center;
  
}

section img {
  width: 318px;
  height: 110px;
  margin-bottom: 20px;
}

/*募集*/
.bosyu {
  width: 100vw;
  background-color: #EBB94D;
  text-align: center;
  font-weight: bold;
}

.bosyu p {
  font-size: 20px;
  color: white;
  margin-top: 0;

}

.bosyu .text1 {
  padding-top: 45px;
  line-height: 10px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.bosyu .text2 span{
  font-family: "Consolas",sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
  color: red;
  padding: 3px;
}

.bosyu .contact-button {
  margin: 45px 0;
  border-radius: 50px;
  height: 105px;
  width: 1030px;
  font-size: 28px;
}

.bosyu .text3 {
  line-height: 23px;
}

.bosyu .text4 {
  padding-top: 25px;
  padding-bottom:  55px;

}

/*概要*/
.gaiyou {
  background-image: url("素材/introbottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-align: center;
}

.subtitle {
  
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 30px;
  max-width: 860px;
  font-size: 28px;
  font-weight: bold;
  /*かぎかっこ設定*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.subtitle p {
  margin: 20px 0;
}


.subtitle::before, .subtitle::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.subtitle::before {
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}

.subtitle::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}

.gaiyou-text {
  font-size: 20px;
  margin-bottom: 140px;
}

.gaiyou-text span {
  font-weight: bold;
  /* border-bottom: solid 8px #EBB94D; */
  background: linear-gradient(transparent 70%, #EBB94D 70%);
}

/*about-logo*/
.about-logo{
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ebb94d;
  text-align: center;
  line-height: 80px;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  vertical-align: middle;
  margin: -40px auto;
  z-index: 9998;
}

/*about*/
.about {
  background-color: #FEF5E0;
  text-align: center;
}

.about .space {
  padding-top: 70px;
  margin: 0;
}
.about-title {
  line-height: 20px;
  margin-top: 0;
}

.about-text {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.about-skill {
  margin: 0 auto;
  padding: 20px 0;
  border: solid 3px #EBB94D;
  background-color: white;
  max-width: 1170px;
  
}

.about-skill ul {
  display: table;
  table-layout: fixed;
  list-style: none;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0;
}

.about-skill li {
  display: inline-block;
  padding:  0 12px;
}

.about-skill img {
  width: auto;
  height: auto;
  margin: 0;
}

/*step*/
.step {
  background-image: url("素材/aboutsecondbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-weight: bold;
}

.step-title {
  margin-top: 0;
  margin-bottom: 23px;
  padding-top: 65px;
  font-size: 28px;
  color: white;
}

.step-text {
  font-size: 20px;
  color: white;
}

.step-text span {
  color: #EBB94D;
}

.step ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 0px;
  padding-bottom: 30px;
  max-width: 1160px;
}

.step li {
  background-color: white;
  padding: 20px 30px;
  border-radius: 7px;
}

.step-count {
  background-color: #EBB94D;
  padding: 1px 130px;
  color: white;
  border-radius: 7px;
}

.step-count-text {
  font-size: 14px;
}

/*important*/
.important {
  background-color: #016EA9;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.important span {
  color: #EBB94D;
}

.important p {
  margin: 0;
  padding: 45px 0;
  letter-spacing: 2px;
}